@model ExpenseManagement.Models.BankLoans

@{
    ViewData["Title"] = "Banka Kredisini Sil";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="callout callout-danger">
                    <h4>Bu kaydı silmek istediğinizden emin misiniz?</h4>
                    <p>
                        Bu kaydı silerseniz işlemi geriye alamayacaksınız.
                    </p>
                </div>
                <div class="invoice p-3 mb-3">
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                <i class="fa-solid fa-money-bill-transfer"></i> @Html.DisplayFor(model => model.Id)
                                <br />
                            </h4>
                        </div>
                    </div>
                    <hr />
                    <div class="row invoice-info">
                        <div class="col-sm-12 invoice-col">
                            <address>
                                @Html.DisplayNameFor(model => model.BankBranch.Name): <strong>@Html.DisplayFor(model => model.BankBranch.Name)</strong><br>
                                @Html.DisplayNameFor(model => model.Amount): <strong>@Html.DisplayFor(model => model.Amount) ₺</strong><br>
                                @Html.DisplayNameFor(model => model.InstallmentAmount): <strong>@Html.DisplayFor(model => model.InstallmentAmount) ₺</strong><br>
                                @Html.DisplayNameFor(model => model.TotalAmountToBeRepaid): <strong>@Html.DisplayFor(model => model.TotalAmountToBeRepaid) ₺</strong><br>
                                @Html.DisplayNameFor(model => model.Interest): <strong>%@Html.DisplayFor(model => model.Interest)</strong><br>
                                @Html.DisplayNameFor(model => model.Cost): <strong>@Html.DisplayFor(model => model.Cost) ₺</strong><br>
                                @Html.DisplayNameFor(model => model.StartDate): <strong>@Html.DisplayFor(model => model.StartDate)</strong><br>
                                @Html.DisplayNameFor(model => model.FinishDate): <strong>@Html.DisplayFor(model => model.FinishDate)</strong><br>
                            </address>
                        </div>
                    </div>
                    <hr />
                    <div class="row no-print">
                        <div class="col-12">
                            <input type="hidden" asp-for="Id" id="id" />
                            <input type="submit" value="Evet" class="btn btn-danger float-right" onclick="deleted()" />
                            <a class="btn btn-primary float-right" asp-action="Index" style="margin-right: 5px;">
                                <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Listeye Geri Dön
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var id;

    function deleted() {
        id = document.getElementById("id").value;
        $.ajax({
            url: '/BankLoan/Delete?id=' + id,
            type: 'POST',
            success: function (returnvalue) {
                document.getElementById("swalDefaultSuccess").value = returnvalue.message;
                document.getElementById("swalDefaultSuccess").click();
                window.setTimeout(function () {
                    window.history.back();
                }, 2000);
            },
            error: function (error) {
                document.getElementById("swalDefaultError").value = error.responseText;
                document.getElementById("swalDefaultError").click();
            }
        });
    }
</script>