@model ExpenseManagement.Models.UsedVehicleSales

@{
    ViewData["Title"] = "2. El Araç Satış Detayı";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="invoice p-3 mb-3">
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                <i class="fa fa-folder-open"></i> @Html.DisplayFor(model => model.Id)
                                <br />
                                <small class="pull-left">Alış / Satış Tarihi: <strong>@Html.DisplayFor(model => model.PurchaseDate) / @Html.DisplayFor(model => model.SaleDate)</strong></small>
                                <br />
                            </h4>
                        </div>
                    </div>
                    <hr />
                    <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                            <address>
                                @Html.DisplayNameFor(model => model.UsedVehiclePurchases.CarModel.CarBrand.Name): <strong>@Html.DisplayFor(model => model.UsedVehiclePurchases.CarModel.CarBrand.Name)</strong><br>
                                @Html.DisplayNameFor(model => model.UsedVehiclePurchases.CarModel.Name): <strong>@Html.DisplayFor(model => model.UsedVehiclePurchases.CarModel.Name)</strong><br>
                                @Html.DisplayNameFor(model => model.LicencePlate): <strong>@Html.DisplayFor(model => model.LicencePlate)</strong><br>
                                @Html.DisplayNameFor(model => model.KM): <strong>@Html.DisplayFor(model => model.KM)</strong><br>
                            </address>
                        </div>
                        <div class="col-sm-4 invoice-col">
                            <address>
                                @Html.DisplayNameFor(model => model.PurchasedSalesman): <strong>@Html.DisplayFor(model => model.PurchasedSalesman.Name)</strong><br>
                                @Html.DisplayNameFor(model => model.PurchaseDate): <strong>@Html.DisplayFor(model => model.PurchaseDate)</strong><br>
                                @Html.DisplayNameFor(model => model.PurchaseAmount): <strong>@Html.DisplayFor(model => model.PurchaseAmount) @Html.DisplayFor(model => model.PurchaseAmountCurrencyName)</strong><br>
                            </address>
                        </div>
                        <div class="col-sm-4 invoice-col">
                            <address>
                                @Html.DisplayNameFor(model => model.SoldSalesman): <strong>@Html.DisplayFor(model => model.SoldSalesman.Name)</strong><br>
                                @Html.DisplayNameFor(model => model.SaleDate): <strong>@Html.DisplayFor(model => model.SaleDate)</strong><br>
                                @Html.DisplayNameFor(model => model.SaleAmount): <strong>@Html.DisplayFor(model => model.SaleAmount) @Html.DisplayFor(model => model.SaleAmountCurrencyName)</strong><br>
                            </address>
                        </div>
                    </div>
                    <hr />
                    <div class="row invoice-info">
                        <div class="col-sm-12 invoice-col">
                            <address>
                                @Html.DisplayNameFor(model => model.Description): <strong>@Html.DisplayFor(model => model.Description)</strong><br>
                            </address>
                        </div>
                    </div>
                    <hr />
                    <div class="row no-print">
                        <div class="col-12">
                            <input type="hidden" asp-for="Id" id="id" />
                            <a class="btn btn-success float-right" asp-action="Edit" asp-route-id="@Model.Id">
                                <i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Güncelle
                            </a>
                            <a class="btn btn-primary float-right" asp-action="Index" style="margin-right: 5px;">
                                <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Listeye Geri Dön
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>