@model ExpenseManagement.Models.Incomes

@{
    ViewData["Title"] = "Gelir Detayı";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="invoice p-3 mb-3">
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                <i class="fas fa-credit-card"></i> @Html.DisplayNameFor(model => model.InvoiceImage)
                                @if (Model.InvoiceImage != null && Model.InvoiceImageFormat.Contains("image"))
                                {
                                    <a href="/Expense/Print/@Html.DisplayFor(model => model.Id)" target="_blank" class="btn btn-secondary float-right"><i class="fas fa-print"></i>&nbsp;&nbsp;Görüntüyü Yazdır</a>
                                }
                                <br />
                            </h4>
                        </div>
                    </div>
                    <hr />
                    @if (Model.InvoiceImage != null)
                    {
                        if (Model.InvoiceImageFormat.Contains("image"))
                        {
                            <div class="row invoice-info">
                                <img class="img-fluid pad" src="data:image;base64, @System.Convert.ToBase64String(Model.InvoiceImage)" />
                            </div>
                        }
                        if (Model.InvoiceImageFormat == "application/pdf")
                        {
                            <div class="row invoice-info">
                                <object data="data:application/pdf;base64,@System.Convert.ToBase64String((Byte[])Model.InvoiceImage)" type="application/pdf" style="width:810px;height:650px" scrolling="no" frameborder="0"></object>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-6">
                <div class="invoice p-3 mb-3">
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                <i class="fas fa-credit-card"></i> @Html.DisplayFor(model => model.Id)
                                <br />
                            </h4>
                        </div>
                    </div>
                    <hr />
                    <div class="row invoice-info">
                        <div class="col-sm-6 invoice-col">
                            <address>
                                @Html.DisplayNameFor(model => model.Sector.Name): <strong>@Html.DisplayFor(model => model.Sector.Name)</strong><br>
                                @Html.DisplayNameFor(model => model.Date): <strong>@Html.DisplayFor(model => model.Date)</strong><br>
                                @Html.DisplayNameFor(model => model.Definition): <strong>@Html.DisplayFor(model => model.Definition)</strong><br>
                            </address>
                        </div>
                        <div class="col-sm-6 invoice-col">
                            @Html.DisplayNameFor(model => model.Amount): <strong>@Html.DisplayFor(model => model.Amount) @Html.DisplayFor(model => model.AmountCurrencyName)</strong><br>
                            @Html.DisplayNameFor(model => model.TAX): <strong>@Html.DisplayFor(model => model.TAX) @Html.DisplayFor(model => model.TAXCurrencyName)</strong><br>
                        </div>
                    </div>
                    <hr />
                    <div class="row no-print">
                        <div class="col-12">
                            <input type="hidden" asp-for="Id" id="id" />
                            <a class="btn btn-success float-right" asp-action="Edit" asp-route-id="@Model.Id">
                                <i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Güncelle
                            </a>
                            <a class="btn btn-primary float-right" asp-action="Index" style="margin-right: 5px;">
                                <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Listeye Geri Dön
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>