@model ExpenseManagement.Models.VehiclePurchases

@{
    ViewData["Title"] = "Sıfır Araç Alışını Sil";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="callout callout-danger">
                    <h4>Bu araç alışını silmek istediğinizden emin misiniz?</h4>
                    <p>
                        Bu araç alışını silerseniz işlemi geriye alamayacaksınız.
                    </p>
                </div>
                <div class="invoice p-3 mb-3">
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                <i class="fa fa-folder-open"></i> @Html.DisplayFor(model => model.Id)
                                <br />
                                <small class="pull-left">Alış / Satış Tarihi: <strong>@Html.DisplayFor(model => model.PurchaseDate) / @Html.DisplayFor(model => model.SaleDate)</strong></small>
                                <br />
                            </h4>
                        </div>
                    </div>
                    <hr />
                    <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                            <address>
                                @Html.DisplayNameFor(model => model.CarModel.CarBrand.Name): <strong>@Html.DisplayFor(model => model.CarModel.CarBrand.Name)</strong><br>
                                @Html.DisplayNameFor(model => model.CarModel.Name): <strong>@Html.DisplayFor(model => model.CarModel.Name)</strong><br>
                                @Html.DisplayNameFor(model => model.IsNew): <strong>@Html.DisplayFor(model => model.IsNew)</strong><br>
                                @Html.DisplayNameFor(model => model.IsSold): <strong>@Html.DisplayFor(model => model.IsSold)</strong><br>
                                @Html.DisplayNameFor(model => model.Chassis): <strong>@Html.DisplayFor(model => model.Chassis)</strong><br>
                                @Html.DisplayNameFor(model => model.ValorDate): <strong>@Html.DisplayFor(model => model.ValorDate)</strong><br>
                                @Html.DisplayNameFor(model => model.PurchaseAmount) : <strong>@Html.DisplayFor(model => model.PurchaseAmount) @Html.DisplayFor(model => model.PurchaseAmountCurrencyName)</strong><br>
                                @Html.DisplayNameFor(model => model.OTV) : <strong>@Html.DisplayFor(model => model.OTV) ₺</strong><br>
                                @Html.DisplayNameFor(model => model.KDV) : <strong>@Html.DisplayFor(model => model.KDV) ₺</strong><br>
                                @Html.DisplayNameFor(model => model.RegistrationFee) : <strong>@Html.DisplayFor(model => model.RegistrationFee) ₺</strong><br>
                                @Html.DisplayNameFor(model => model.IncludingRegistrationFee) : <strong>@Html.DisplayFor(model => model.IncludingRegistrationFee) ₺</strong><br>
                                @Html.DisplayNameFor(model => model.SaleAmount): <strong>@Html.DisplayFor(model => model.SaleAmount) @Html.DisplayFor(model => model.SaleAmountCurrencyName)</strong><br>
                            </address>
                        </div>
                    </div>
                    <hr />
                    <div class="row no-print">
                        <div class="col-12">
                            <input type="hidden" asp-for="Id" id="id" />
                            <input type="submit" value="Evet" class="btn btn-danger float-right" onclick="deleted()" />
                            <a class="btn btn-primary float-right" asp-action="Index" style="margin-right: 5px;">
                                <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Listeye Geri Dön
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    var id;

    function deleted() {
        id = document.getElementById("id").value;
        $.ajax({
            url: '/VehiclePurchase/Delete?id=' + id,
            type: 'POST',
            success: function (returnvalue) {
                document.getElementById("swalDefaultSuccess").value = returnvalue.message;
                document.getElementById("swalDefaultSuccess").click();
                window.setTimeout(function () {
                    window.history.back();
                }, 2000);
            },
            error: function (error) {
                document.getElementById("swalDefaultError").value = error.responseText;
                document.getElementById("swalDefaultError").click();
            }
        });
    }
</script>