@model IEnumerable<ExpenseManagement.Models.VehiclePurchases>

@{
    ViewData["Title"] = "Araç Alımı";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h5 class="box-title">
                            <i class="fas fa-warehouse"></i>&nbsp;Araç Alımı
                            <a class="btn btn-light text-primary btn-sm float-right" asp-action="Create"><i class="fa fa-plus"></i>&nbsp;&nbsp;Yeni Oluştur</a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="card-body">
                                <table id="ItemsTable" class="table table-bordered table-striped" width="100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Id)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CarModel.CarBrand.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CarModel.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.IsNew)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.IsSold)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PurchaseDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.SaleDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ValorDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Chassis)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PurchaseAmount)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.IncludingRegistrationFee)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.SaleAmount)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script>
        (function () {
            var generateCustomerTable = $("#ItemsTable").DataTable({
                "language": {
                    processing: '<i class="fas fa-sync fa-spin fa-3x fa-fw"></i><span class="sr-only">Yükleniyor...</span> ',
                    zeroRecords: "Hiçbir kayıt bulunamadı.",
                    emptyTable: "Kayıt bulunmamaktadır.",
                    search: "Ara:",
                    oPaginate: {
                        "sFirst": "İlk",
                        "sLast": "Son",
                        "sNext": "Sonraki",
                        "sPrevious": "Önceki"
                    },
                    sLengthMenu: "_MENU_ adet kayıt getir",
                    sInfo: "Toplam _TOTAL_ kayıttan _START_ - _END_ arası gösteriliyor",
                },
                "processing": true,
                "serverSide": true,
                "searchDelay": 1200,
                "stateSave": true,
                "stateDuration": -1,
                "ajax": {
                    "url": "/VehiclePurchase/Post",
                    "method": "POST"
                },
                "columns": [
                    { "data": "id" },
                    { "data": "carModel.carBrand.name", "orderable": false },
                    { "data": "carModel.name", "orderable": false },
                    {
                        "data": "isNew",
                        render: function (data, type, row) {
                            if (data == true) {
                                return "Evet";
                            }
                            else if (data == false) {
                                return "Hayır";
                            }
                        }
                    },
                    {
                        "data": "isSold",
                        render: function (data, type, row) {
                            if (data == true) {
                                return "Evet";
                            }
                            else if (data == false) {
                                return "Hayır";
                            }
                        }
                    },
                    {
                        "data": "purchaseDate",
                        render: function (data, type, row) {
                            return window.moment(data).format("DD-MMMM-YYYY");
                        }
                    },
                    {
                        "data": "saleDate",
                        render: function (data, type, row) {
                            if (data != null) {
                                return window.moment(data).format("DD-MMMM-YYYY");
                            }
                            else {
                                return "-";
                            }
                        }
                    },
                    {
                        "data": "valorDate",
                        "orderable": false,
                        render: function (data, type, full, meta) {
                            if (data != null) {
                                return data + " gün";
                            }
                            else {
                                return "-";
                            }
                        }
                    },
                    { "data": "chassis" },
                    {
                        "data": "purchaseAmount",
                        "render": function (data, type, full, meta) {
                            return full.purchaseAmount + " " + full.purchaseAmountCurrencyName;
                        }
                    },
                    {
                        "data": "includingRegistrationFee",
                        "render": function (data, type, full, meta) {
                            if (data != null) {
                                return full.includingRegistrationFee + " ₺";
                            }
                            else {
                                return "-";
                            }
                        }
                    },
                    {
                        "data": "saleAmount",
                        render: function (data, type, full, meta) {
                            if (data != null) {
                                return full.saleAmount + " " + full.saleAmountCurrencyName;
                            }
                            else {
                                return "-";
                            }
                        }
                    },
                    {
                        "data": "actionId", "orderable": false, render: function (data, type, row) {
                            return '<div class="btn-group"><button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown"><span class="fa fa-ellipsis-h"></span></button><ul class="dropdown-menu dropdown-menu-right" style="border: 1px solid #00c0ef"> <a class="dropdown-item" href="VehiclePurchase/Edit/' + row.id + '">Güncelle</a> <a class="dropdown-item" href="VehiclePurchase/Details/' + row.id + '">Detaylar</a> <a class="dropdown-item" href="VehiclePurchase/Delete/' + row.id + '">Sil</a></ul></div>'
                        }
                    }
                ],
                "ordering": true,
                "paging": true,
                "pagingType": "simple_numbers",
                "pageLength": 100
            });
        })(jQuery);
    </script>
}