@model IEnumerable<ExpenseManagement.Models.VehiclePurchases>

@{
    ViewData["Title"] = "Araç Alımı";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary collapsed-card">
                    <div class="card-header border-0">
                        <h5 class="card-title">
                            <i class="fas fa-filter mr-1"></i>&nbsp;Filtreler
                        </h5>
                        <div class="card-tools">
                            <a href="#" class="btn btn-tool btn-sm" data-card-widget="collapse">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Marka Adı</label>
                                    <select class="form-control" id="brand"></select>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Araç Alış Başlangıç Tarihi</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="far fa-calendar-alt"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control float-right" id="datepicker" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Araç Alış Bitiş Tarihi</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="far fa-calendar-alt"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control float-right" id="datepicker2" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Alış Fiyatı Tutar Aralığı</label>
                                    <input id="range_1" type="text" name="range_1" value="">
                                    <input hidden id="from" />
                                    <input hidden id="to" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Model Adı</label>
                                    <select class="form-control" id="model"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Şase No</label>
                                    <input class="form-control" id="chassis" autocomplete="off" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Alınan Ay</label>
                                    <select class="form-control" asp-items="@Html.GetEnumSelectList<ExpenseManagement.Enums.MonthEnum>()" id="monthId"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="submit" value="Filtreyi Uygula" class="btn btn-success btn-block" onclick="getResult()" />
                                </div>
                                <div class="col-md-6">
                                    <input type="submit" value="Temizle" class="btn btn-danger btn-block" onclick="clearFilter()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h5 class="box-title">
                            <i class="fas fa-warehouse"></i>&nbsp;Araç Alımı
                            <a class="btn btn-light text-primary btn-sm float-right" asp-controller="VehiclePurchase" asp-action="ExportPurchases" style="margin-left:10px"><i class="fa fa-download"></i>&nbsp;&nbsp;Dışa Aktar</a>
                            <a class="btn btn-light text-primary btn-sm float-right" asp-action="Create"><i class="fa fa-plus"></i>&nbsp;&nbsp;Yeni Oluştur</a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="card-body">
                                <table id="ItemsTable" class="table table-bordered table-striped" width="100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Id)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CarModel.CarBrand.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CarModel.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.IsNew)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.IsSold)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PurchaseDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.SaleDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ValorDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Chassis)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PurchaseAmount)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.IncludingRegistrationFee)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.SaleAmount)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/moment.min.js"></script>
<script>
    window.onload = function getAll() {
        $("#ItemsTable").DataTable({
            "language": {
                processing: '<i class="fas fa-sync fa-spin fa-3x fa-fw"></i><span class="sr-only">Yükleniyor...</span> ',
                zeroRecords: "Hiçbir kayıt bulunamadı.",
                emptyTable: "Kayıt bulunmamaktadır.",
                search: "Ara:",
                oPaginate: {
                    "sFirst": "İlk",
                    "sLast": "Son",
                    "sNext": "Sonraki",
                    "sPrevious": "Önceki"
                },
                sLengthMenu: "_MENU_ adet kayıt getir",
                sInfo: "Toplam _TOTAL_ kayıttan _START_ - _END_ arası gösteriliyor",
            },
            "processing": true,
            "serverSide": true,
            "searchDelay": 1200,
            "stateSave": true,
            "searching": false,
            "stateDuration": -1,
            "destroy": true,
            "ajax": {
                "url": "/VehiclePurchase/Post",
                "method": "POST"
            },
            "columns": [
                { "data": "id" },
                { "data": "carModel.carBrand.name", "orderable": false },
                { "data": "carModel.name", "orderable": false },
                {
                    "data": "isNew",
                    render: function (data, type, row) {
                        if (data == true) {
                            return "Evet";
                        }
                        else if (data == false) {
                            return "Hayır";
                        }
                    }
                },
                {
                    "data": "isSold",
                    render: function (data, type, row) {
                        if (data == true) {
                            return "Evet";
                        }
                        else if (data == false) {
                            return "Hayır";
                        }
                    }
                },
                {
                    "data": "purchaseDate",
                    render: function (data, type, row) {
                        return window.moment(data).format("DD-MMMM-YYYY");
                    }
                },
                {
                    "data": "saleDate",
                    render: function (data, type, row) {
                        if (data != null) {
                            return window.moment(data).format("DD-MMMM-YYYY");
                        }
                        else {
                            return "-";
                        }
                    }
                },
                {
                    "data": "valorDate",
                    "orderable": false,
                    render: function (data, type, full, meta) {
                        if (data != null) {
                            return data + " gün";
                        }
                        else {
                            return "-";
                        }
                    }
                },
                { "data": "chassis" },
                {
                    "data": "purchaseAmount",
                    "render": function (data, type, full, meta) {
                        return currency(full.purchaseAmount, { decimal: ',', separator: '', symbol: '' }).format() + " " + full.purchaseAmountCurrencyName;
                    }
                },
                {
                    "data": "includingRegistrationFee",
                    "render": function (data, type, full, meta) {
                        if (data != null) {
                            return currency(full.includingRegistrationFee, { decimal: ',', separator: '', symbol: '' }).format() + " ₺";
                        }
                        else {
                            return "-";
                        }
                    }
                },
                {
                    "data": "saleAmount",
                    render: function (data, type, full, meta) {
                        if (data != null) {
                            return currency(full.saleAmount, { decimal: ',', separator: '', symbol: '' }).format() + " " + full.saleAmountCurrencyName;
                        }
                        else {
                            return "-";
                        }
                    }
                },
                {
                    "data": "actionId", "orderable": false, render: function (data, type, row) {
                        return '<div class="btn-group"><button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown"><span class="fa fa-ellipsis-h"></span></button><ul class="dropdown-menu dropdown-menu-right" style="border: 1px solid #00c0ef"> <a class="dropdown-item" href="VehiclePurchase/Edit/' + row.id + '">Güncelle</a> <a class="dropdown-item" href="VehiclePurchase/Details/' + row.id + '">Detaylar</a> <a class="dropdown-item" href="VehiclePurchase/Delete/' + row.id + '">Sil</a></ul></div>'
                    }
                }
            ],
            "ordering": true,
            "paging": true,
            "pagingType": "simple_numbers",
            "pageLength": 100
        });

        $('#range_1').ionRangeSlider({
            min: 100000,
            max: 2000000,
            from: 180000,
            to: 800000,
            type: 'double',
            step: 1,
            prefix: '₺',
            prettify: false,
            hasGrid: true,
            onChange: function (data) {
                document.getElementById("from").value = data.from;
                document.getElementById("to").value = data.to;
            }
        });

        window.onload = brandLoad();

        function brandLoad() {
                $('#brand').html('');
                $.getJSON('@Url.Action("GetCarBrands", "VehiclePurchase")', function (result) {
                    for (var i = 0; i < result.length; i++) {
                        $("#brand").append("<option id='" + result[i].id + "'>" + result[i].name + "</option>")
                    }
                    showValue(result[0].id);
                })
        };

        $("#brand").on("change", function (e) {
            showValue(e.target.selectedOptions[0].id);
        });

        function showValue(brandId)
        {
            $('#model').html('');
            $.getJSON('@Url.Action("GetCarModelsById", "VehiclePurchase")' + "?Id=" + brandId, function (result) {
                for (var i = 0; i < result.length; i++) {
                    $("#model").append("<option id='" + result[i].id + "'>" + result[i].name + "</option>")
                }
            })
        }
    };

    function clearFilter() {
        location.reload();
    }

    function getResult() {
        $("#ItemsTable").DataTable({
            "language": {
                processing: '<i class="fas fa-sync fa-spin fa-3x fa-fw"></i><span class="sr-only">Yükleniyor...</span> ',
                zeroRecords: "Hiçbir kayıt bulunamadı.",
                emptyTable: "Kayıt bulunmamaktadır.",
                search: "Ara:",
                oPaginate: {
                    "sFirst": "İlk",
                    "sLast": "Son",
                    "sNext": "Sonraki",
                    "sPrevious": "Önceki"
                },
                sLengthMenu: "_MENU_ adet kayıt getir",
                sInfo: "Toplam _TOTAL_ kayıttan _START_ - _END_ arası gösteriliyor",
            },
            "processing": true,
            "serverSide": true,
            "searchDelay": 1200,
            "stateSave": true,
            "searching": false,
            "stateDuration": -1,
            "destroy": true,
            "ajax": {
                "url": "/VehiclePurchase/Post?isFiltered=true"
                    + "&startDate=" + document.getElementById("datepicker").value
                    + "&finishDate=" + document.getElementById("datepicker2").value
                    + "&from=" + document.getElementById("from").value
                    + "&to=" + document.getElementById("to").value
                    + "&model=" + document.getElementById("model").value
                    + "&chassis=" + document.getElementById("chassis").value
                    + "&monthId=" + document.getElementById("monthId").value,
                "method": "POST"
            },
            "columns": [
                { "data": "id" },
                { "data": "carModel.carBrand.name", "orderable": false },
                { "data": "carModel.name", "orderable": false },
                {
                    "data": "isNew",
                    render: function (data, type, row) {
                        if (data == true) {
                            return "Evet";
                        }
                        else if (data == false) {
                            return "Hayır";
                        }
                    }
                },
                {
                    "data": "isSold",
                    render: function (data, type, row) {
                        if (data == true) {
                            return "Evet";
                        }
                        else if (data == false) {
                            return "Hayır";
                        }
                    }
                },
                {
                    "data": "purchaseDate",
                    render: function (data, type, row) {
                        return window.moment(data).format("DD-MMMM-YYYY");
                    }
                },
                {
                    "data": "saleDate",
                    render: function (data, type, row) {
                        if (data != null) {
                            return window.moment(data).format("DD-MMMM-YYYY");
                        }
                        else {
                            return "-";
                        }
                    }
                },
                {
                    "data": "valorDate",
                    "orderable": false,
                    render: function (data, type, full, meta) {
                        if (data != null) {
                            return data + " gün";
                        }
                        else {
                            return "-";
                        }
                    }
                },
                { "data": "chassis" },
                {
                    "data": "purchaseAmount",
                    "render": function (data, type, full, meta) {
                        return currency(full.purchaseAmount, { decimal: ',', separator: '', symbol: '' }).format() + " " + full.purchaseAmountCurrencyName;
                    }
                },
                {
                    "data": "includingRegistrationFee",
                    "render": function (data, type, full, meta) {
                        if (data != null) {
                            return currency(full.includingRegistrationFee, { decimal: ',', separator: '', symbol: '' }).format() + " ₺";
                        }
                        else {
                            return "-";
                        }
                    }
                },
                {
                    "data": "saleAmount",
                    render: function (data, type, full, meta) {
                        if (data != null) {
                            return currency(full.saleAmount, { decimal: ',', separator: '', symbol: '' }).format() + " " + full.saleAmountCurrencyName;
                        }
                        else {
                            return "-";
                        }
                    }
                },
                {
                    "data": "actionId", "orderable": false, render: function (data, type, row) {
                        return '<div class="btn-group"><button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown"><span class="fa fa-ellipsis-h"></span></button><ul class="dropdown-menu dropdown-menu-right" style="border: 1px solid #00c0ef"> <a class="dropdown-item" href="VehiclePurchase/Edit/' + row.id + '">Güncelle</a> <a class="dropdown-item" href="VehiclePurchase/Details/' + row.id + '">Detaylar</a> <a class="dropdown-item" href="VehiclePurchase/Delete/' + row.id + '">Sil</a></ul></div>'
                    }
                }
            ],
            "ordering": true,
            "paging": true,
            "pagingType": "simple_numbers",
            "pageLength": 100
        });
    }
</script>