@model ExpenseManagement.Models.UsedVehiclePurchases

@{
    ViewData["Title"] = "2. El Araç Alışını Güncelle";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h5 class="box-title">
                            <i class="fas fa-pencil-alt"></i>&nbsp;2. El Araç Alışını Güncelle
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input asp-for="Id" class="form-control" id="id" hidden />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="CarModel.CarBrandName" class="control-label"></label>
                                            <select id="Brand" asp-for="CarModel.CarBrandId" class="form-control" asp-items="@ViewBag.CarBrands"></select>
                                            <span asp-validation-for="CarModel.CarBrandId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="CarModel.Name" class="control-label"></label>
                                            <select id="Model" asp-for="CarModel.Name" class="form-control" asp-items="@ViewBag.CarModels"></select>
                                            <span asp-validation-for="CarModel.Name" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="LicencePlate" class="control-label"></label>
                                            <input asp-for="LicencePlate" class="form-control" id="licencePlate" autocomplete="off" />
                                            <span asp-validation-for="LicencePlate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="KM" class="control-label"></label>
                                            <input asp-for="KM" class="form-control" id="km" autocomplete="off" />
                                            <span asp-validation-for="KM" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label" asp-for="IsSold"></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <input type="checkbox" asp-for="IsSold" id="isSold">
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Seller" class="control-label"></label>
                                            <input asp-for="Seller" class="form-control" autocomplete="off" id="seller" />
                                            <span asp-validation-for="Seller" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="PurchaseDate" class="control-label"></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="far fa-calendar-alt"></i>
                                                    </span>
                                                </div>
                                                <input asp-for="PurchaseDate" type="text" class="form-control pull-right" autocomplete="off" id="datepicker" />
                                            </div>
                                            <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="PurchasedSalesmanId" class="control-label"></label>
                                            <select asp-for="PurchasedSalesmanId" class="form-control" asp-items="ViewBag.PurchasedSalesman" id="purchasedSalesmanId"></select>
                                            <span asp-validation-for="PurchasedSalesmanId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="PurchaseAmount" class="control-label"></label><label class="text-danger small"><strong>&nbsp;(Lütfen kuruş için virgül (,) kullanınız.)</strong></label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <select class="form-control btn btn-default" disabled asp-items="@Html.GetEnumSelectList<Expenses.AmountCurrencyEnum>()"></select>
                                                </div>
                                                <input asp-for="PurchaseAmount" class="form-control" autocomplete="off" id="purchaseAmount" type="text" />
                                                <span asp-validation-for="PurchaseAmount" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="PurchasedSalesmanBonus" class="control-label"></label><label class="text-danger small"><strong>&nbsp;(Lütfen kuruş için virgül (,) kullanınız.)</strong></label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <select class="form-control btn btn-default" disabled asp-items="@Html.GetEnumSelectList<Expenses.AmountCurrencyEnum>()"></select>
                                                </div>
                                                <input asp-for="PurchasedSalesmanBonus" class="form-control" autocomplete="off" id="purchasedSalesmanBonus" type="text" />
                                                <span asp-validation-for="PurchasedSalesmanBonus" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Buyer" class="control-label"></label>
                                            <input asp-for="Buyer" class="form-control" autocomplete="off" id="buyer" disabled />
                                            <span asp-validation-for="Buyer" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="SaleDate" class="control-label"></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="far fa-calendar-alt"></i>
                                                    </span>
                                                </div>
                                                <input asp-for="SaleDate" type="text" class="form-control pull-right" autocomplete="off" id="datepicker2" disabled />
                                            </div>
                                            <span asp-validation-for="SaleDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="SoldSalesmansId" class="control-label"></label>
                                            <select asp-for="SoldSalesmansId" class="form-control" asp-items="ViewBag.SoldSalesman" id="soldSalesmanId" disabled></select>
                                            <span asp-validation-for="SoldSalesmansId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="SaleAmount" class="control-label"></label><label class="text-danger small"><strong>&nbsp;(Lütfen kuruş için virgül (,) kullanınız.)</strong></label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <select class="form-control btn btn-default" disabled asp-items="@Html.GetEnumSelectList<Expenses.AmountCurrencyEnum>()"></select>
                                                </div>
                                                <input asp-for="SaleAmount" class="form-control" autocomplete="off" id="saleAmount" type="text" disabled onchange="calculate()" />
                                                <span asp-validation-for="SaleAmount" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="SoldSalesmanBonus" class="control-label"></label><label class="text-danger small"><strong>&nbsp;(Lütfen kuruş için virgül (,) kullanınız.)</strong></label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <select class="form-control btn btn-default" disabled asp-items="@Html.GetEnumSelectList<Expenses.AmountCurrencyEnum>()"></select>
                                                </div>
                                                <input asp-for="SoldSalesmanBonus" class="form-control" autocomplete="off" id="soldSalesmanBonus" type="text" disabled />
                                                <span asp-validation-for="SoldSalesmanBonus" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Profit" class="control-label"></label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <select class="form-control btn btn-default" disabled asp-items="@Html.GetEnumSelectList<Expenses.AmountCurrencyEnum>()"></select>
                                        </div>
                                        <input asp-for="Profit" class="form-control" autocomplete="off" id="profit" type="text" disabled />
                                        <span asp-validation-for="Profit" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <input type="submit" value="Kaydet" class="btn btn-success" onclick="update()" id="updateButton" />
                            <a class="btn btn-primary pull-right" asp-action="Index" style="margin-right: 5px;">
                                <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Listeye Geri Dön
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    window.onload = function getVehicle() {
        $("#isSold").on('change', function () {
            if ($(this).is(':checked')) {
                $(this).attr('value', 'true');
                $('#buyer').removeAttr('disabled');
                $('#datepicker2').removeAttr('disabled');
                $('#saleAmount').removeAttr('disabled');
                $('#soldSalesmanId').removeAttr('disabled');
                $('#soldSalesmanBonus').removeAttr('disabled');
                $('#profit').removeAttr('disabled');
            } else {
                $(this).attr('value', 'false');
                $('#buyer').attr('disabled', 'disabled');
                $('#datepicker2').attr('disabled', 'disabled');
                $('#saleAmount').attr('disabled', 'disabled');
                $('#soldSalesmanId').attr('disabled', 'disabled');
                $('#soldSalesmanBonus').attr('disabled', 'disabled');
                $('#profit').attr('disabled', 'disabled');
                $('#buyer').val('');
                $('#datepicker2').val('');
                $('#saleAmount').val('');
                $('#soldSalesmanBonus').val('');
                $('#soldSalesmanId').val('');
                $('#profit').val('');
            }
        });

        var id = '@Url.RouteUrl(ViewContext.RouteData.Values).Split("/").Last()';

        $.ajax({
            url: '/UsedVehiclePurchase/EditPost?&id=' + id,
            type: 'POST',
            success: function (returnvalue) {
                var start = new Date(returnvalue.purchaseDate);

                if (returnvalue.saleDate != null) {
                    var finish = new Date(returnvalue.saleDate);

                    var dayF = finish.getDate();
                    var monthF = finish.getMonth() + 1;
                    var yearF = finish.getFullYear();
                    dayF = dayF < 10 ? "0" + dayF : dayF;
                    monthF = monthF < 10 ? "0" + monthF : monthF;

                    document.getElementById("datepicker2").value = yearF + "/" + monthF + "/" + dayF;
                }

                if (returnvalue.isSold == false) {
                    $('#isSold').attr('value', 'false');
                    $('#soldSalesmanId').val('');
                }

                var dayS = start.getDate();
                var monthS = start.getMonth() + 1;
                var yearS = start.getFullYear();
                dayS = dayS < 10 ? "0" + dayS : dayS;
                monthS = monthS < 10 ? "0" + monthS : monthS;

                document.getElementById("id").value = returnvalue.id;
                document.getElementById("Brand").value = returnvalue.carModel.carBrand.id;
                document.getElementById("Model").value = returnvalue.carModel.name;
                document.getElementById("licencePlate").value = returnvalue.licencePlate;
                document.getElementById("km").value = returnvalue.km;
                document.getElementById("isSold").checked = returnvalue.isSold;
                document.getElementById("seller").value = returnvalue.seller;
                document.getElementById("datepicker").value = yearS + "/" + monthS + "/" + dayS;
                document.getElementById("purchasedSalesmanId").value = returnvalue.purchasedSalesmanId;
                document.getElementById("purchaseAmount").value = currency(returnvalue.purchaseAmount, { decimal: ',', separator: '', symbol: '' }).format();
                document.getElementById("purchasedSalesmanBonus").value = currency(returnvalue.purchasedSalesmanBonus, { decimal: ',', separator: '', symbol: '' }).format();

                if (returnvalue.isSold == true) {
                    document.getElementById("saleAmount").value = currency(returnvalue.saleAmount, { decimal: ',', separator: '', symbol: '' }).format();
                    document.getElementById("buyer").value = returnvalue.buyer;
                    document.getElementById("soldSalesmanId").value = returnvalue.soldSalesmansId;
                    document.getElementById("soldSalesmanBonus").value = currency(returnvalue.soldSalesmanBonus, { decimal: ',', separator: '', symbol: '' }).format();
                    document.getElementById("profit").value = currency(returnvalue.profit, { decimal: ',', separator: '', symbol: '' }).format();

                    $('#buyer').removeAttr('disabled');
                    $('#datepicker2').removeAttr('disabled');
                    $('#saleAmount').removeAttr('disabled');
                    $('#soldSalesmanId').removeAttr('disabled');
                    $('#soldSalesmanBonus').removeAttr('disabled');
                    $('#profit').removeAttr('disabled');

                    document.getElementById("warningSuccessMessage").value = "Devam Et";
                    document.getElementById("swalDefaultWarning").value = "Bu araç satılmıştır. Lütfen değişiklik yapmadan önce satış kaydını kontrol ediniz.";
                    document.getElementById("swalDefaultWarning").click();
                }
            },
            error: function (error) {
                document.getElementById("swalDefaultError").value = "2. El Araç Alış Getirilirken Bir Hata Oluştu!";
                document.getElementById("swalDefaultError").click();
            }
        });
    }

    function calculate() {
            var purchaseAmount = document.getElementById("purchaseAmount").value;
            var saleAmount = document.getElementById("saleAmount").value;

            var profit = Number(saleAmount.replace(',', '.') - purchaseAmount.replace(',', '.'));

            document.getElementById("profit").value = currency(profit, { decimal: ',', separator: '', symbol: '' }).format();
        }
</script>
<script>
    function update() {
        var Id = document.getElementById("id").value;
        var Model = document.getElementById("Model").value;
        var LicencePlate = document.getElementById("licencePlate").value;
        var KM = document.getElementById("km").value;
        var IsSold = document.getElementById("isSold").value;
        var Seller = document.getElementById("seller").value;
        var PurchaseDate = document.getElementById("datepicker").value;
        var PurchasedSalesmanId = document.getElementById("purchasedSalesmanId").value;
        var PurchaseAmount = document.getElementById("purchaseAmount").value;
        var PurchasedSalesmanBonus = document.getElementById("purchasedSalesmanBonus").value;
        var Buyer = document.getElementById("buyer").value;
        var SaleDate = document.getElementById("datepicker2").value;
        var SoldSalesmanId = document.getElementById("soldSalesmanId").value;
        var SaleAmount = document.getElementById("saleAmount").value;
        var SoldSalesmanBonus = document.getElementById("soldSalesmanBonus").value;
        var Profit = document.getElementById("profit").value;

        var data = new FormData();

        data.append('CarModel.Name', Model);
        data.append('LicencePlate', LicencePlate);
        data.append('KM', KM);
        data.append('IsSold', IsSold);
        data.append('Seller', Seller);
        data.append('PurchaseDate', PurchaseDate);
        data.append('PurchasedSalesmanId', PurchasedSalesmanId);
        data.append('PurchaseAmount', PurchaseAmount);
        data.append('PurchasedSalesmanBonus', PurchasedSalesmanBonus);
        data.append('Buyer', Buyer);
        data.append('SaleDate', SaleDate);
        data.append('SoldSalesmanId', SoldSalesmanId);
        data.append('SaleAmount', SaleAmount);
        data.append('SoldSalesmanBonus', SoldSalesmanBonus);
        data.append('Profit', Profit);

        $("#updateButton").attr("disabled", true);

        $.ajax({
            url: '/UsedVehiclePurchase/Edit?id=' + Id,
            type: 'POST',
            contentType: false,
            processData: false,
            data: data,
            success: function (returnvalue) {
                document.getElementById("swalDefaultSuccess").value = returnvalue.message;
                document.getElementById("swalDefaultSuccess").click();
                window.setTimeout(function () {
                    window.history.back();
                }, 2000);
            },
            error: function (error) {
                document.getElementById("swalDefaultError").value = error.responseText;
                document.getElementById("swalDefaultError").click();
                window.setTimeout(function () {
                    $("#updateButton").attr("disabled", false);
                }, 1600);
            }
        });
    }
</script>