@model ExpenseManagement.Models.Expenses

@{
    ViewData["Title"] = "Gider Ekle";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h5 class="box-title">
                            <i class="fa fa-plus"></i>&nbsp;Gider Ekle
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="ExpenseType" class="control-label"></label>
                                    <select asp-for="ExpenseType" class="form-control" asp-items="@Html.GetEnumSelectList<Expenses.ExpenseTypeEnum>()" id="expenseType" onchange="changeExpenseType()"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Sector.Name" class="control-label"></label>
                                    <select asp-for="SectorId" class="form-control" asp-items="ViewBag.SectorId" id="sectorId"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Supplier.Name" class="control-label"></label>
                                    <select asp-for="SupplierId" class="form-control select2" asp-items="ViewBag.SupplierId" id="supplierId"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Date" class="control-label"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Date" type="text" class="form-control float-right" id="datepicker" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LastPaymentDate" class="control-label"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input asp-for="LastPaymentDate" type="text" class="form-control float-right" id="datepicker2" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Definition" class="control-label"></label>
                                    <input asp-for="Definition" class="form-control" id="definition" />
                                    <span asp-validation-for="Definition" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Amount" class="control-label"></label><label class="text-danger small"><strong>&nbsp;(Lütfen kuruş için virgül (,) kullanınız.)</strong></label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <select asp-for="AmountCurrency" class="form-control btn btn-default" asp-items="@Html.GetEnumSelectList<Expenses.AmountCurrencyEnum>()" id="amountCurrency"></select>
                                        </div>
                                        <input asp-for="Amount" class="form-control" id="amount" />
                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <label class="control-label">KDV Oranı</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <select class="form-control btn btn-default" id="taxRate" onchange="calculateTax()">
                                                        <option>% 1</option>
                                                        <option>% 8</option>
                                                        <option>% 18</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <label asp-for="TAX" class="control-label"></label><label class="text-danger small"><strong>&nbsp;(Lütfen kuruş için virgül (,) kullanınız.)</strong></label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <select asp-for="TAXCurrency" class="form-control btn btn-default" asp-items="@Html.GetEnumSelectList<Expenses.TAXCurrencyEnum>()" id="taxCurrency"></select>
                                                </div>
                                                <input asp-for="TAX" class="form-control" id="tax" />
                                                <span asp-validation-for="TAX" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InvoiceImage" class="control-label"></label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" asp-for="InvoiceImage" accept="application/pdf,image/*" id="imageFile" name="imageFile">
                                            <label class="custom-file-label" for="exampleInputFile">Dosya Seçiniz</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Month" class="control-label"></label>
                                    <select asp-for="Month" disabled class="form-control" asp-items="@Html.GetEnumSelectList<ExpenseManagement.Enums.MonthEnum>()" id="monthId"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SalaryAmount" class="control-label" id="salary-title-for-salary"></label><label class="text-danger small"><strong>&nbsp;(Lütfen kuruş için virgül (,) kullanınız.)</strong></label>
                                    <div class="input-group mb-3" id="salary-for-salary">
                                        <div class="input-group-prepend">
                                            <select asp-for="SalaryAmountCurrency" class="form-control btn btn-default" disabled asp-items="@Html.GetEnumSelectList<Expenses.SalaryAmountCurrencyEnum>()" id="salaryAmountCurrency"></select>
                                        </div>
                                        <input asp-for="SalaryAmount" disabled class="form-control" id="salaryAmount" />
                                        <span asp-validation-for="SalaryAmount" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <input type="submit" value="Ekle" class="btn btn-success" onclick="add()" id="createButton" />
                            <a class="btn btn-primary" asp-action="Index" style="margin-right: 5px;">
                                <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Listeye Geri Dön
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function calculateTax() {
        amount = document.getElementById("amount").value;
        taxRate = document.getElementById("taxRate").value.substring(2, 4);
        tax = amount * taxRate / 100;
        if (isNaN(Number(tax))) {
            var amount = Number(amount.replace(',', '.'));
            tax = amount * taxRate / 100;
        }
        document.getElementById("tax").value = tax.toLocaleString("tr-TR");

    }
</script>
<script>
    function changeExpenseType() {
        if (document.getElementById("expenseType").value == 2) {
            $('#datepicker').attr('disabled', 'disabled');
            $('#datepicker2').attr('disabled', 'disabled');
            $('#supplierId').attr('disabled', 'disabled');
            $('#amount').attr('disabled', 'disabled');
            $('#amountCurrency').attr('disabled', 'disabled');
            $('#tax').attr('disabled', 'disabled');
            $('#taxCurrency').attr('disabled', 'disabled');
            $('#imageFile').attr('disabled', 'disabled');

            $('#monthId').removeAttr('disabled');
            $('#salaryAmount').removeAttr('disabled');
            $('#salaryAmountCurrency').removeAttr('disabled');
        }
        else {
            $('#datepicker').removeAttr('disabled');
            $('#datepicker2').removeAttr('disabled');
            $('#supplierId').removeAttr('disabled');
            $('#amount').removeAttr('disabled');
            $('#amountCurrency').removeAttr('disabled');
            $('#tax').removeAttr('disabled');
            $('#taxCurrency').removeAttr('disabled');
            $('#imageFile').removeAttr('disabled');

            $('#monthId').attr('disabled', 'disabled');
            $('#salaryAmount').attr('disabled', 'disabled');
            $('#salaryAmountCurrency').attr('disabled', 'disabled');
        }
    }
</script>
<script>
    var expenseType;
    var sectorId;
    var supplierId;
    var date;
    var definition;
    var amount;
    var amountCurrency;
    var tax;
    var taxCurrency;
    var monthId;
    var salaryAmount;
    var salaryAmountCurrency;

    function add() {
        expenseType = document.getElementById("expenseType").value;
        sectorId = document.getElementById("sectorId").value;
        supplierId = document.getElementById("supplierId").value;
        date = document.getElementById("datepicker").value;
        lastPaymentDate = document.getElementById("datepicker2").value;
        definition = document.getElementById("definition").value;
        amount = document.getElementById("amount").value;
        amountCurrency = document.getElementById("amountCurrency").value;
        tax = document.getElementById("tax").value;
        taxCurrency = document.getElementById("taxCurrency").value;
        monthId = document.getElementById("monthId").value;
        salaryAmount = document.getElementById("salaryAmount").value;
        salaryAmountCurrency = document.getElementById("salaryAmountCurrency").value;

        var fileupload = $("#imageFile").get(0);
        var files = fileupload.files;
        var data = new FormData();
        for (var i = 0; i < files.length; i++) {
            data.append(files[i].name, files[i]);
        }

        data.append('expenseType', expenseType);
        data.append('sectorId', sectorId);
        data.append('supplierId', supplierId);
        data.append('date', date);
        data.append('lastPaymentDate', lastPaymentDate);
        data.append('definition', definition);
        data.append('amount', amount);
        data.append('amountCurrency', amountCurrency);
        data.append('tax', tax);
        data.append('taxCurrency', taxCurrency);
        data.append('month', monthId);
        data.append('salaryAmount', salaryAmount);
        data.append('salaryAmountCurrency', salaryAmountCurrency);

        $("#createButton").attr("disabled", true);

        $.ajax({
            type: "POST",
            url: "/Expense/Create",
            contentType: false,
            processData: false,
            data: data,
            success: function (returnvalue) {
                document.getElementById("swalDefaultSuccess").value = returnvalue.message;
                document.getElementById("swalDefaultSuccess").click();
                window.setTimeout(function () {
                    window.history.back();
                }, 2000);
            },
            error: function (error) {
                document.getElementById("swalDefaultError").value = error.responseText;
                document.getElementById("swalDefaultError").click();
                window.setTimeout(function () {
                    $("#createButton").attr("disabled", false);
                }, 1600);
            }
        });
    }
</script>