@model ExpenseManagement.Models.Expenses

@{
    ViewData["Title"] = "Gideri Güncelle";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h5 class="box-title">
                            <i class="fas fa-pencil-alt"></i>&nbsp;Gideri Güncelle
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" id="id" />
                                <div class="form-group">
                                    <label asp-for="ExpenseType" class="control-label"></label>
                                    <select asp-for="ExpenseType" class="form-control" asp-items="@Html.GetEnumSelectList<Expenses.ExpenseTypeEnum>()" id="expenseType"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Sector.Name" class="control-label"></label>
                                    <select asp-for="SectorId" class="form-control" asp-items="ViewBag.SectorId" id="sectorId"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Date" class="control-label"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Date" type="text" class="form-control float-right" id="datepicker" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LastPaymentDate" class="control-label"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input asp-for="LastPaymentDate" type="text" class="form-control float-right" id="datepicker2" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Definition" class="control-label"></label>
                                    <input asp-for="Definition" class="form-control" id="definition" />
                                    <span asp-validation-for="Definition" class="text-danger"></span>
                                </div>
                                <label asp-for="Amount" class="control-label"></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <select asp-for="AmountCurrency" class="form-control btn btn-default" asp-items="@Html.GetEnumSelectList<Expenses.AmountCurrencyEnum>()" id="amountCurrency"></select>
                                    </div>
                                    <input asp-for="Amount" class="form-control" id="amount" />
                                    <span asp-validation-for="Amount" class="text-danger"></span>
                                </div>
                                <label asp-for="TAX" class="control-label"></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <select asp-for="TAXCurrency" class="form-control btn btn-default" asp-items="@Html.GetEnumSelectList<Expenses.TAXCurrencyEnum>()" id="taxCurrency"></select>
                                    </div>
                                    <input asp-for="TAX" class="form-control" id="tax" />
                                    <span asp-validation-for="TAX" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label class="control-label">Görüntüyü Güncelle</label>
                                        <div class="input-group mb-3">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" asp-for="InvoiceImage" accept="application/pdf,image/*" id="imageFile" name="imageFile">
                                                <label class="custom-file-label" for="exampleInputFile">Dosya Seçiniz</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Görüntüyü Sil</label>
                                            <br />
                                            <a class="btn btn-danger btn-block text-white" onclick="deleteImage()"><i class="fas fa-trash"></i>&nbsp;&nbsp;Sil</a>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        @if (Model.InvoiceImage != null)
                                        {
                                            <label asp-for="InvoiceImage" class="control-label"></label>
                                            if (Model.InvoiceImageFormat.Contains("image"))
                                            {
                                                <div class="row invoice-info">
                                                    <img class="img-fluid pad" src="data:image;base64, @System.Convert.ToBase64String(Model.InvoiceImage)" />
                                                </div>
                                            }
                                            if (Model.InvoiceImageFormat == "application/pdf")
                                            {
                                                <div class="row invoice-info">
                                                    <object data="data:application/pdf;base64,@System.Convert.ToBase64String((Byte[])Model.InvoiceImage)" type="application/pdf" style="width:810px;height:650px" scrolling="no" frameborder="0"></object>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Month" class="control-label"></label>
                                    <select asp-for="Month" class="form-control" asp-items="@Html.GetEnumSelectList<ExpenseManagement.Enums.MonthEnum>()" id="monthId"></select>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <input type="submit" value="Kaydet" class="btn btn-success" onclick="update()" id="updateButton" />
                            <a class="btn btn-primary pull-right" asp-action="Index" style="margin-right: 5px;">
                                <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Listeye Geri Dön
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var id;

    function deleteImage() {
        id = document.getElementById("id").value;
        $.ajax({
            url: '/Expense/DeleteImage?id=' + id,
            type: 'POST',
            success: function (returnvalue) {
                document.getElementById("swalDefaultSuccess").value = returnvalue.message;
                document.getElementById("swalDefaultSuccess").click();
                window.setTimeout(function () {
                    window.location.reload();
                }, 2000);
            },
            error: function (error) {
                document.getElementById("swalDefaultError").value = error.responseText;
                document.getElementById("swalDefaultError").click();
            }
        });
    }
</script>
<script>
    var id;
    var sectorId;
    var date;
    var lastPaymentDate;
    var definition;
    var amount;
    var amountCurrency;
    var tax;
    var taxCurrency;

    function update() {
        sectorId = document.getElementById("sectorId").value;
        date = document.getElementById("datepicker").value;
        lastPaymentDate = document.getElementById("datepicker2").value;
        definition = document.getElementById("definition").value;
        amount = document.getElementById("amount").value;
        amountCurrency = document.getElementById("amountCurrency").value;
        tax = document.getElementById("tax").value;
        taxCurrency = document.getElementById("taxCurrency").value;
        id = document.getElementById("id").value;


        var fileupload = $("#imageFile").get(0);
        var files = fileupload.files;
        var data = new FormData();
        for (var i = 0; i < files.length; i++) {
            data.append(files[i].name, files[i]);
        }

        data.append('sectorId', sectorId);
        data.append('date', date);
        data.append('lastPaymentDate', lastPaymentDate);
        data.append('definition', definition);
        data.append('amount', amount);
        data.append('amountCurrency', amountCurrency);
        data.append('tax', tax);
        data.append('taxCurrency', taxCurrency);
        data.append('id', id);

        $("#updateButton").attr("disabled", true);

        $.ajax({
            type: "POST",
            url: "/Expense/Edit",
            contentType: false,
            processData: false,
            data: data,
            success: function (returnvalue) {
                document.getElementById("swalDefaultSuccess").value = returnvalue.message;
                document.getElementById("swalDefaultSuccess").click();
                window.setTimeout(function () {
                    window.history.back();
                }, 2000);
            },
            error: function (error) {
                document.getElementById("swalDefaultError").value = error.responseText;
                document.getElementById("swalDefaultError").click();
                window.setTimeout(function () {
                    $("#updateButton").attr("disabled", false);
                }, 1600);
            }
        });
    }
</script>