@model ExpenseManagement.Models.Expenses

@{
    ViewData["Title"] = "Gideri Güncelle";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h5 class="box-title">
                            <i class="fas fa-pencil-alt"></i>&nbsp;Gideri Güncelle
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" id="id" />
                                <div class="form-group">
                                    <label asp-for="ExpenseType" class="control-label"></label>
                                    <select asp-for="ExpenseType" class="form-control" asp-items="@Html.GetEnumSelectList<Expenses.ExpenseTypeEnum>()" id="expenseType" onchange="changeExpenseType()"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Sector.Name" class="control-label"></label>
                                    <select asp-for="SectorId" class="form-control" asp-items="ViewBag.SectorId" id="sectorId"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SupplierDef" class="control-label"></label>
                                    <input asp-for="SupplierDef" class="form-control" id="supplier" autocomplete="off" />
                                    <span asp-validation-for="SupplierDef" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Date" class="control-label"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Date" type="text" class="form-control float-right" id="datepicker" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LastPaymentDate" class="control-label"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input asp-for="LastPaymentDate" type="text" class="form-control float-right" id="datepicker2" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Definition" class="control-label"></label>
                                    <input asp-for="Definition" class="form-control" id="definition" />
                                    <span asp-validation-for="Definition" class="text-danger"></span>
                                </div>
                                <label asp-for="Amount" class="control-label"></label><label class="text-danger small"><strong>&nbsp;(Lütfen kuruş için virgül (,) kullanınız.)</strong></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <select asp-for="AmountCurrency" class="form-control btn btn-default" asp-items="@Html.GetEnumSelectList<Expenses.AmountCurrencyEnum>()" id="amountCurrency"></select>
                                    </div>
                                    <input asp-for="Amount" class="form-control" id="amount" />
                                    <span asp-validation-for="Amount" class="text-danger"></span>
                                </div>
                                <label asp-for="TAX" class="control-label"></label><label class="text-danger small"><strong>&nbsp;(Lütfen kuruş için virgül (,) kullanınız.)</strong></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <select asp-for="TAXCurrency" class="form-control btn btn-default" asp-items="@Html.GetEnumSelectList<Expenses.TAXCurrencyEnum>()" id="taxCurrency"></select>
                                    </div>
                                    <input asp-for="TAX" class="form-control" id="tax" />
                                    <span asp-validation-for="TAX" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <a class="btn btn-secondary btn-block float-right" id="openDocument" href="#" data-toggle="modal" data-target="#modal-document" style="margin-left:10px"><i class="fa fa-file-pdf"></i>&nbsp;&nbsp;Dokümanı Görüntüle</a>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" asp-for="InvoiceImage" accept="application/pdf,image/*" id="imageFile" name="imageFile">
                                                <label class="custom-file-label" for="exampleInputFile">Dosya Seçiniz</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <a class="btn btn-danger btn-block text-white" id="deleteDocument" onclick="deleteImage()"><i class="fas fa-trash"></i>&nbsp;&nbsp;Dokümanı Sil</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Month" class="control-label"></label>
                                    <select asp-for="Month" disabled class="form-control" asp-items="@Html.GetEnumSelectList<ExpenseManagement.Enums.MonthEnum>()" id="monthId"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SalaryAmount" class="control-label" id="salary-title-for-salary"></label>
                                    <div class="input-group mb-3" id="salary-for-salary">
                                        <div class="input-group-prepend">
                                            <select asp-for="SalaryAmountCurrency" class="form-control btn btn-default" disabled asp-items="@Html.GetEnumSelectList<Expenses.SalaryAmountCurrencyEnum>()" id="salaryAmountCurrency"></select>
                                        </div>
                                        <input asp-for="SalaryAmount" disabled class="form-control" id="salaryAmount" />
                                        <span asp-validation-for="SalaryAmount" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <input type="submit" value="Kaydet" class="btn btn-success" onclick="update()" id="updateButton" />
                            <a class="btn btn-primary pull-right" asp-action="Index" style="margin-right: 5px;">
                                <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Listeye Geri Dön
                            </a>
                        </div>
                    </div>
                    <div class="modal fade" id="modal-document">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"><strong><i class="fa fa-file-pdf"></i>&nbsp;&nbsp;Doküman</strong></h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="docDiv">
                                    <iframe id="document" style="width:100%;height:100%" webkitallowfullscreen allowfullscreen></iframe>
                                </div>
                                <div class="modal-body" id="imgDiv">
                                    <img id="image" style="width:100%;height:100%" webkitallowfullscreen allowfullscreen />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    window.onload = function getExpense() {
        var id = '@Url.RouteUrl(ViewContext.RouteData.Values).Split("/").Last()';

        $.ajax({
            url: '/Expense/EditPost?&id=' + id,
            type: 'POST',
            success: function (returnvalue) {
                var date = new Date(returnvalue.date);
                var lastPaymentDate = new Date(returnvalue.lastPaymentDate);

                var dayS = date.getDate();
                var monthS = date.getMonth() + 1;
                var yearS = date.getFullYear();
                dayS = dayS < 10 ? "0" + dayS : dayS;
                monthS = monthS < 10 ? "0" + monthS : monthS;

                var dayL = lastPaymentDate.getDate();
                var monthL = lastPaymentDate.getMonth() + 1;
                var yearL = lastPaymentDate.getFullYear();
                dayL = dayL < 10 ? "0" + dayL : dayL;
                monthL = monthL < 10 ? "0" + monthL : monthL;

                if (returnvalue.salaryAmount == null) {
                    document.getElementById("id").value = returnvalue.id;
                    document.getElementById("expenseType").value = returnvalue.expenseType;
                    document.getElementById("sectorId").value = returnvalue.sectorId;
                    document.getElementById("supplier").value = returnvalue.supplierDef;
                    document.getElementById("datepicker").value = yearS + "/" + monthS + "/" + dayS;
                    document.getElementById("datepicker2").value = yearL + "/" + monthL + "/" + dayL;
                    document.getElementById("definition").value = returnvalue.definition;
                    document.getElementById("amount").value = returnvalue.amount.toLocaleString("tr-TR");
                    document.getElementById("amountCurrency").value = returnvalue.amountCurrency;
                    document.getElementById("tax").value = returnvalue.tax.toLocaleString("tr-TR");
                    document.getElementById("taxCurrency").value = returnvalue.taxCurrency;

                    //Maaş Düzeltme Silindi
                    $('#monthId').attr('disabled', 'disabled');
                    $('#salaryAmount').attr('disabled', 'disabled');
                    $('#salaryAmountCurrency').attr('disabled', 'disabled');
                }
                if (returnvalue.salaryAmount != null) {
                    document.getElementById("monthId").value = returnvalue.monthId;
                    document.getElementById("salaryAmountCurrency").value = returnvalue.salaryAmountCurrency;
                    document.getElementById("salaryAmount").value = returnvalue.salaryAmount;

                    $('#monthId').removeAttr('disabled');
                    $('#salaryAmount').removeAttr('disabled');
                    $('#salaryAmountCurrency').removeAttr('disabled');
                }
            },
            error: function (error) {
                document.getElementById("swalDefaultError").value = "Gider Getirilirken Bir Hata Oluştu!";
                document.getElementById("swalDefaultError").click();
            }
        });

        $("#openDocument").on("click", function () {
            $.ajax({
                url: '/Expense/GetDocument?&id=' + id,
                type: 'POST',
                success: function (returnvalue) {
                    if (returnvalue.invoiceImageFormat == "application/pdf") {
                        $('#imgDiv').remove();
                        $('#image').remove();
                        document.getElementById("document").src = 'data:application/pdf;base64,' + returnvalue.invoiceImage;
                    }
                    else {
                        $('#docDiv').remove();
                        $('#document').remove();
                        document.getElementById("image").src = 'data:image;base64,' + returnvalue.invoiceImage;
                    }
                },
                error: function (error) {
                    Swal.fire({
                        position: 'center',
                        icon: 'warning',
                        title: 'Doküman Bulunmamaktadır!',
                        showConfirmButton: false,
                        timer: 2000
                    }),
                    window.setTimeout(function () {
                        $("#modal-document").modal('hide');
                    }, 2000);
                }
            });
        });
    }
</script>
<script>
    function changeExpenseType() {
        if (document.getElementById("expenseType").value == 2) {
            $('#datepicker').attr('disabled', 'disabled');
            $('#datepicker2').attr('disabled', 'disabled');
            $('#supplier').attr('disabled', 'disabled');
            $('#amount').attr('disabled', 'disabled');
            $('#amountCurrency').attr('disabled', 'disabled');
            $('#tax').attr('disabled', 'disabled');
            $('#taxCurrency').attr('disabled', 'disabled');
            $('#imageFile').attr('disabled', 'disabled');

            $('#monthId').removeAttr('disabled');
            $('#salaryAmount').removeAttr('disabled');
            $('#salaryAmountCurrency').removeAttr('disabled');
        }
        else {
            $('#datepicker').removeAttr('disabled');
            $('#datepicker2').removeAttr('disabled');
            $('#supplier').removeAttr('disabled');
            $('#amount').removeAttr('disabled');
            $('#amountCurrency').removeAttr('disabled');
            $('#tax').removeAttr('disabled');
            $('#taxCurrency').removeAttr('disabled');
            $('#imageFile').removeAttr('disabled');

            $('#monthId').attr('disabled', 'disabled');
            $('#salaryAmount').attr('disabled', 'disabled');
            $('#salaryAmountCurrency').attr('disabled', 'disabled');
        }
    }
</script>
<script>
    var id;

    function deleteImage() {
        id = document.getElementById("id").value;
        $.ajax({
            url: '/Expense/DeleteImage?id=' + id,
            type: 'POST',
            success: function (returnvalue) {
                document.getElementById("swalDefaultSuccess").value = returnvalue.message;
                document.getElementById("swalDefaultSuccess").click();
                window.setTimeout(function () {
                    window.location.reload();
                }, 2000);
            },
            error: function (error) {
                document.getElementById("swalDefaultError").value = error.responseText;
                document.getElementById("swalDefaultError").click();
            }
        });
    }
</script>
<script>
    var id;
    var expenseType;
    var sectorId;
    var supplier;
    var date;
    var lastPaymentDate;
    var definition;
    var amount;
    var amountCurrency;
    var tax;
    var taxCurrency;

    function update() {
        expenseType = document.getElementById("expenseType").value;
        sectorId = document.getElementById("sectorId").value;
        supplier = document.getElementById("supplier").value;
        date = document.getElementById("datepicker").value;
        lastPaymentDate = document.getElementById("datepicker2").value;
        definition = document.getElementById("definition").value;
        amount = document.getElementById("amount").value;
        amountCurrency = document.getElementById("amountCurrency").value;
        tax = document.getElementById("tax").value;
        taxCurrency = document.getElementById("taxCurrency").value;
        id = document.getElementById("id").value;

        monthId = document.getElementById("monthId").value;
        salaryAmountCurrency = document.getElementById("salaryAmountCurrency").value;
        salaryAmount = document.getElementById("salaryAmount").value;

        var fileupload = $("#imageFile").get(0);
        var files = fileupload.files;
        var data = new FormData();
        for (var i = 0; i < files.length; i++) {
            data.append(files[i].name, files[i]);
        }

        data.append('expenseType', expenseType);
        data.append('sectorId', sectorId);
        data.append('supplierDef', supplier);
        data.append('date', date);
        data.append('lastPaymentDate', lastPaymentDate);
        data.append('definition', definition);
        data.append('amount', amount);
        data.append('amountCurrency', amountCurrency);
        data.append('tax', tax);
        data.append('taxCurrency', taxCurrency);
        data.append('id', id);

        data.append('monthId', monthId);
        data.append('salaryAmountCurrency', salaryAmountCurrency);
        data.append('salaryAmount', salaryAmount);

        $("#updateButton").attr("disabled", true);

        $.ajax({
            type: "POST",
            url: "/Expense/Edit",
            contentType: false,
            processData: false,
            data: data,
            success: function (returnvalue) {
                document.getElementById("swalDefaultSuccess").value = returnvalue.message;
                document.getElementById("swalDefaultSuccess").click();
                window.setTimeout(function () {
                    window.history.back();
                }, 2000);
            },
            error: function (error) {
                document.getElementById("swalDefaultError").value = error.responseText;
                document.getElementById("swalDefaultError").click();
                window.setTimeout(function () {
                    $("#updateButton").attr("disabled", false);
                }, 1600);
            }
        });
    }
</script>