@model IEnumerable<ExpenseManagement.Models.Expenses>

@{
    ViewData["Title"] = "Haftalık Ödeme Listesi";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h5 class="box-title">
                            <i class="fas fa-credit-card"></i>&nbsp;Haftalık Ödeme Listesi
                            <a class="btn btn-light text-primary btn-sm float-right" asp-controller="Expense" asp-action="ExportPaylist" style="margin-left:10px"><i class="fa fa-download"></i>&nbsp;&nbsp;Dışa Aktar</a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="card-body">
                                <table id="ItemsTable" class="table table-bordered table-striped" width="100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Id)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ExpenseType)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Sector.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.SupplierDef)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Date)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.LastPaymentDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Definition)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Amount)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TAX)
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th colspan="6"></th>
                                            <th>Toplam:</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        (function () {
            var generateCustomerTable = $("#ItemsTable").DataTable({
                "language": {
                    processing: '<i class="fas fa-sync fa-spin fa-3x fa-fw"></i><span class="sr-only">Yükleniyor...</span> ',
                    zeroRecords: "Hiçbir kayıt bulunamadı.",
                    emptyTable: "Kayıt bulunmamaktadır.",
                    search: "Ara:",
                    oPaginate: {
                        "sFirst": "İlk",
                        "sLast": "Son",
                        "sNext": "Sonraki",
                        "sPrevious": "Önceki"
                    },
                    sLengthMenu: "_MENU_ adet kayıt getir",
                    sInfo: "Toplam _TOTAL_ kayıttan _START_ - _END_ arası gösteriliyor",
                },
                "processing": true,
                "serverSide": true,
                "searchDelay": 1200,
                "stateSave": true,
                "searching": false,
                "stateDuration": -1,
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };

                    pageAmountTotal = api
                        .column(7, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    $(api.column(7).footer()).html(
                        currency(pageAmountTotal, { decimal: ',', separator: '.', symbol: '' }).format() + ' ₺'
                    );

                    pageTAXTotal = api
                        .column(8, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    $(api.column(8).footer()).html(
                        currency(pageTAXTotal, { decimal: ',', separator: '.', symbol: '' }).format() + ' ₺'
                    );
                },
                "ajax": {
                    "url": "/Expense/WeeklyPaylistPost",
                    "method": "POST"
                },
                "columns": [
                    { "data": "id" },
                    {
                        "data": "expenseTypeName",
                        "orderable": false
                    },
                    {
                        "data": "sector.name",
                        "orderable": false
                    },
                    {
                        "data": "supplier.name",
                        render: function (data, type, row) {
                            if (data != null) {
                                return data;
                            }
                            return "-";
                        },
                        "orderable": false
                    },
                    {
                        "data": "date",
                        render: function (data, type, row) {
                            if (data != null) {
                                return window.moment(data).format("DD-MMMM-YYYY");
                            }
                            return "-";
                        }
                    },
                    {
                        "data": "lastPaymentDate",
                        render: function (data, type, row) {
                            if (data != null) {
                                return window.moment(data).format("DD-MMMM-YYYY");
                            }
                            return "-";
                        }
                    },
                    {
                        "data": "definition",
                        render: function (data, type, row) {
                            if (data != null) {
                                return data;
                            }
                            return "-";
                        },
                    },
                    {
                        "data": "amount",
                        "render": function (data, type, full, meta) {
                            if (data != null) {
                                return currency(full.amount, { decimal: ',', separator: '.', symbol: '' }).format() + " " + full.amountCurrencyName;
                            }
                            return "-";
                        }
                    },
                    {
                        "data": "tax",
                        "render": function (data, type, full, meta) {
                            if (data != null) {
                                return currency(full.tax, { decimal: ',', separator: '.', symbol: '' }).format() + " " + full.taxCurrencyName;
                            }
                            return "-";
                        }
                    }
                ],
                "ordering": true,
                "paging": true,
                "pagingType": "simple_numbers",
                "pageLength": 100
            });
        })(jQuery);
    </script>
}